In [1]:
from time import time
import pandas as pd
from sqlalchemy import create_engine

In [24]:
df = pd.read_csv('data.csv')

In [25]:
df.head()

,STATISTIC,Statistic Label,TLIST(A1),Census Year,C03852V04602,Constituency 2013,C03768V4517,Number of Cars,UNIT,VALUE
0,SAP2016T15T1C01,Households with cars,2016,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,NC,No motor car,Number,6378
1,SAP2016T15T1C01,Households with cars,2016,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,1C,1 motor car,Number,21627
2,SAP2016T15T1C01,Households with cars,2016,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,2C,2 motor cars,Number,19777
3,SAP2016T15T1C01,Households with cars,2016,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,3C,3 motor cars,Number,3402
4,SAP2016T15T1C01,Households with cars,2016,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,GE4C,4 or more motor cars,Number,1223

In [26]:
df['Statistic Label'].unique()

array(['Households with cars'], dtype=object)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATISTIC          280 non-null    object
 1   Statistic Label    280 non-null    object
 2   TLIST(A1)          280 non-null    int64
 3   Census Year        280 non-null    int64
 4   C03852V04602       280 non-null    object
 5   Constituency 2013  280 non-null    object
 6   C03768V4517        280 non-null    object
 7   Number of Cars     280 non-null    object
 8   UNIT               280 non-null    object
 9   VALUE              280 non-null    int64
dtypes: int64(3), object(7)
memory usage: 22.0+ KB

In [28]:
df['STATISTIC'].unique()

array(['SAP2016T15T1C01'], dtype=object)

In [29]:
df['TLIST(A1)'].unique()

array([2016])

In [30]:
df['Census Year'].unique()

array([2016])

In [31]:
# drop unnecessary columns
df = df.drop(['Statistic Label', 'TLIST(A1)', 'UNIT'], axis=1)

In [32]:
df.head()

,STATISTIC,Census Year,C03852V04602,Constituency 2013,C03768V4517,Number of Cars,VALUE
0,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,NC,No motor car,6378
1,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,1C,1 motor car,21627
2,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,2C,2 motor cars,19777
3,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,3C,3 motor cars,3402
4,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,GE4C,4 or more motor cars,1223

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATISTIC          280 non-null    object
 1   Census Year        280 non-null    int64
 2   C03852V04602       280 non-null    object
 3   Constituency 2013  280 non-null    object
 4   C03768V4517        280 non-null    object
 5   Number of Cars     280 non-null    object
 6   VALUE              280 non-null    int64
dtypes: int64(2), object(5)
memory usage: 15.4+ KB

In [34]:
# drop total rows
df = df[df['Number of Cars'] != 'Total']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240 entries, 0 to 278
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATISTIC          240 non-null    object
 1   Census Year        240 non-null    int64
 2   C03852V04602       240 non-null    object
 3   Constituency 2013  240 non-null    object
 4   C03768V4517        240 non-null    object
 5   Number of Cars     240 non-null    object
 6   VALUE              240 non-null    int64
dtypes: int64(2), object(5)
memory usage: 15.0+ KB

In [36]:
df.head()

,STATISTIC,Census Year,C03852V04602,Constituency 2013,C03768V4517,Number of Cars,VALUE
0,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,NC,No motor car,6378
1,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,1C,1 motor car,21627
2,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,2C,2 motor cars,19777
3,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,3C,3 motor cars,3402
4,SAP2016T15T1C01,2016,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,GE4C,4 or more motor cars,1223

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240 entries, 0 to 278
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATISTIC          240 non-null    object
 1   Census Year        240 non-null    datetime64[ns]
 2   C03852V04602       240 non-null    object
 3   Constituency 2013  240 non-null    object
 4   C03768V4517        240 non-null    object
 5   Number of Cars     240 non-null    object
 6   VALUE              240 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 15.0+ KB

In [39]:
df.head()

,STATISTIC,Census Year,C03852V04602,Constituency 2013,C03768V4517,Number of Cars,VALUE
0,SAP2016T15T1C01,2016-01-01,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,NC,No motor car,6378
1,SAP2016T15T1C01,2016-01-01,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,1C,1 motor car,21627
2,SAP2016T15T1C01,2016-01-01,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,2C,2 motor cars,19777
3,SAP2016T15T1C01,2016-01-01,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,3C,3 motor cars,3402
4,SAP2016T15T1C01,2016-01-01,AA601F40-12B7-41E8-A384-74688CC75084,Carlow-Kilkenny,GE4C,4 or more motor cars,1223

In [54]:
engine = create_engine("postgresql://root:root@localhost:5432/car_owners_postgres_data")

In [55]:
engine.connect()

In [56]:
print(pd.io.sql.get_schema(df, name='car_owners_data', con=engine))

CREATE TABLE car_owners_data (
	"STATISTIC" TEXT,
	"Census Year" TIMESTAMP WITHOUT TIME ZONE,
	"C03852V04602" TEXT,
	"Constituency 2013" TEXT,
	"C03768V4517" TEXT,
	"Number of Cars" TEXT,
	"VALUE" BIGINT
)

In [57]:
df_iter = pd.read_csv('data.csv', iterator=True, chunksize=20)

In [58]:
df = next(df_iter)

In [59]:
len(df)

20

In [60]:
# drop unnecessary columns
df = df.drop(['Statistic Label', 'TLIST(A1)', 'UNIT'], axis=1)

In [61]:
df.head(n=0).to_sql(name='car_owners_data', con=engine, if_exists='replace')

0

In [62]:
while True:

    t_start = time()

    df = next(df_iter)

    # drop unnecessary columns
    df = df.drop(['Statistic Label', 'TLIST(A1)', 'UNIT'], axis=1)

    # drop total rows
    df = df[df['Number of Cars'] != 'Total']

    df.to_sql(name='car_owners_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second(s)' % (t_end - t_start))

inserted another chunk..., took 0.016 second(s)
inserted another chunk..., took 0.017 second(s)
inserted another chunk..., took 0.008 second(s)
inserted another chunk..., took 0.007 second(s)
inserted another chunk..., took 0.007 second(s)
inserted another chunk..., took 0.009 second(s)
inserted another chunk..., took 0.010 second(s)
inserted another chunk..., took 0.008 second(s)
inserted another chunk..., took 0.008 second(s)
inserted another chunk..., took 0.007 second(s)
inserted another chunk..., took 0.007 second(s)
inserted another chunk..., took 0.007 second(s)
inserted another chunk..., took 0.008 second(s)

StopIteration: